* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: white;
}

.overskrift {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  font-size: 4vw;
  margin: 0 0 0 4%;
  padding: 50px 0 0 0;
  position: relative;
  z-index: 1;
}

#portraet {
  display: block;
  margin: -40px auto 0;
  width: 41%;
  height: auto;
  z-index: 0;
}

#bg-skift {
  background-color: black;
  border-radius: 25px;
  height: 100%;
}

#drip {
  display: block;
  margin: 0 auto 0;
  width: 100%;
  position: absolute;
  z-index: -1;
}

h3 {
  display: none;
}

h2 {
  position: absolute;
  color: white;
  font-size: 2vw;
  margin: 0 0 0 4%;
  padding: 40px 0 0 0;
  z-index: 1;
}

img {
  height: auto;
  width: 200px;
}

#billedeo {
  height: auto;
  width: 200px;
}

.billede {
  height: 10vw;
  width: auto;
}

a {
  text-decoration: none;
}

#streg1 {
  background-color: black;
  width: 25px;
  position: absolute;
  z-index: 0;
  height: 127px;
  margin: 0 0 0 60.5%;
}

#box1 {
  background-color: black;
  height: 15.625vw;
  width: 23.4375vw;
  border-radius: 1.953125vw;
  z-index: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10% 0 0 50%;
}

#box1:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#box1:hover h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#box1:hover a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#box1:hover .billede {
  width: 10vw;
}

#box1:hover img {
  width: 10vw;
}

#box1:hover #billedeo {
  height: 140px;
  width: auto;
}

#streg2 {
  background-color: black;
  width: 25px;
  position: absolute;
  z-index: 0;
  height: 360px;
  margin: 0 0 0 12%;
}

#box2 {
  background-color: black;
  height: 15.625vw;
  width: 23.4375vw;
  border-radius: 1.953125vw;
  z-index: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2.5% 0 0 1%;
}

#box2:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#box2:hover h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#box2:hover a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#box2:hover .billede {
  width: 10vw;
}

#box2:hover img {
  width: 10vw;
}

#box2:hover #billedeo {
  height: 140px;
  width: auto;
}

#streg3 {
  background-color: black;
  width: 25px;
  position: absolute;
  z-index: 0;
  height: 451px;
  margin: 0 0 0 81.5%;
}

#box3 {
  background-color: black;
  height: 15.625vw;
  width: 23.4375vw;
  border-radius: 1.953125vw;
  z-index: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -8.5% 0 0 71.5%;
}

#box3:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#box3:hover h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#box3:hover a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#box3:hover .billede {
  width: 10vw;
}

#box3:hover img {
  width: 10vw;
}

#box3:hover #billedeo {
  height: 140px;
  width: auto;
}

#streg4 {
  background-color: black;
  width: 25px;
  position: absolute;
  z-index: 0;
  height: 50vw;
  margin: 0 0 0 41.5%;
}

#box4 {
  background-color: black;
  height: 15.625vw;
  width: 23.4375vw;
  border-radius: 1.953125vw;
  z-index: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -8.5% 0 0 31.5%;
}

#box4:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#box4:hover h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#box4:hover a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#box4:hover .billede {
  width: 10vw;
}

#box4:hover img {
  width: 10vw;
}

#box4:hover #billedeo {
  height: 140px;
  width: auto;
}

.bg {
  background-color: black;
  border-radius: 25px;
  height: 40vw;
}

#navn {
  margin: 30vw 0 0 75vw;
}

@media only screen and (max-width: 700px) {
  img {
    height: 150px;
  }
  .billede {
    height: 20vw;
  }
  #streg1 {
    margin: 0 0 0 46.5%;
    height: 150%;
  }
  #streg2 {
    display: none;
  }
  #streg3 {
    display: none;
  }
  #streg4 {
    display: none;
  }
  #box1 {
    margin: 5% auto;
    width: 50%;
  }
  #box2 {
    margin: 5% auto;
    width: 50%;
  }
  #box3 {
    margin: 5% auto;
    width: 50%;
  }
  #box4 {
    margin: 5% auto;
    width: 50%;
  }
}

@media only screen and (min-width: 1500px) {
  body {
    background-color: red;
  }
  #streg1 {
    margin: 0 0 0 46.5%;
    height: 100%;
  }
  #streg2 {
    display: none;
  }
  #box1 {
    margin: 5% auto;
    width: 50%;
  }
  #box2 {
    margin: 5% auto;
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */