*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

$primary-color: black;
$secondary-color: white;
$tertiary-color: rgb(236, 236, 236); 

::-webkit-scrollbar {
    display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body{
    background-color: $tertiary-color;
}

.overskrift{
    color: $secondary-color;
    display: flex;
    justify-content: start;
    font-size: 4vw;
    margin: 0 0 0 4%;
    padding: 50px 0 0 0;
    position: relative;
    z-index: 1;
}

.overskrift2{
    color: $secondary-color;
    font-size: 4vw;
    margin: -10.5vw 0 2vw 20vw;
    padding: 0 0 0 0;
    position: relative;
    z-index: 1;
}

.logotop{
    margin: 2vw 0 0 1vw;
    height: auto;
    width: 15vw;
}

#portraet{
    display: block;
    margin: -35vw auto 0;
    width: 41%;
    height: auto;
    z-index: 0;
}

#bg-skift{
    background-color: $primary-color;
    border-radius: 25px;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.linkp{
    position: absolute;
    transform: translate(-50%);
    margin: 1vw 0 0 86vw;
    font-size: 1.5vw;
  }
  
  .link{
    display: block;
    color: $secondary-color;
    text-decoration: none;
    position: relative;
  }
  
  .link::after{
    content: "";
    background: white;
      mix-blend-mode: exclusion;
    width: calc(100% + 20px);
    border-radius: 25px;
    height: 0;
    position: absolute;
    bottom: -4px;
    left: -10px;
      transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  
  .link:hover::after{
      height: calc(100% + 8px)
  }

h3{display: none;
}

.h2main{
    position: absolute;
    color: $secondary-color;
    font-size: 2vw;
    margin: 0 0 0 4%;
    padding: 40px 0 0 0;
    z-index: 1;
}

.h2rn{
    position: relative;
    color: $secondary-color;
    font-size: 2vw;
    margin: -8vw 0 5vw 20vw;
    padding: 8vw 0 0 0;
    z-index: 1;
}

@mixin box {
    background-color: $primary-color;
    height: 15.625vw;
    width: 23.4375vw;
    border-radius: 1.953125vw;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    &:hover{
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transform: scale(1.1);
        h3{
            display: flex;
        }
        a{
            display: flex;
            flex-direction: row;
            align-items: center;;
        }
        .billede{
            width: 10vw;
        }
        img{
            width: 10vw;
        }
        #billedeo{
            height: 140px;
            width: auto;
        }
    }
}

@mixin streg {
    background-color: $primary-color;
    width: 1.953125vw;
    position: absolute;
    z-index: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img{
    height: auto;
    width: 200px;
}

#billedeo{
    height: auto;
    width: 200px;
}

.billede{
    height: 10vw;
    width: auto;
}

a{
    text-decoration: none;
}

#streg1{
    @include streg;
    height: 127px;
    margin: 0 0 0 60.5%;
}

#box1{
    @include box;
    margin: 10% 0 0 50%;
}

#streg2{
    @include streg;
    height: 360px;
    margin: 0 0 0 12%;
}

#box2{
    @include box;
    margin: 2.5% 0 0 1%;
}

#streg3{
    @include streg;
    height: 451px;
    margin: 0 0 0 81.5%;
}

#box3{
    @include box;
    margin: -8.5% 0 0 71.5%;
}

#streg4{
    @include streg;
    height: 50vw;
    margin: 0 0 0 41.5%;
}

#box4{
    @include box;
    margin: -8.5% 0 0 31.5%;
}

.bg{
    background-color: $primary-color;
    border-radius: 25px;
    height: 28vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#navn{
    margin: 30vw 0 0 75vw;
}

@mixin boxrn {
    background-color: $primary-color;
    height: auto;
    padding: 0.5vw;
    width: fit-content;
    border-radius: 1.953125vw;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.billedern{
    border-radius: 1.953125vw;
}

#boxrn1{
    @include boxrn;
    margin: 7vw 0 0 2vw;
}

#stregrn1{
    @include streg;
    height: 7vw;
    margin: 0 0 0 9.5vw;
}

#boxrn2{
    @include boxrn;
    margin: -30vw 0 0 24.5vw;
}

#stregrn2{
    @include streg;
    height: 13vw;
    margin: 0 0 0 32vw;
}

#boxrn3{
    @include boxrn;
    margin: -30vw 0 0 47vw;
}

#stregrn3{
    @include streg;
    height: 18vw;
    margin: 0 0 0 54.5vw;
}

#boxrn4{
    @include boxrn;
    margin: -30vw 0 0 69.5vw;
}

#stregrn4{
    @include streg;
    height: 23vw;
    margin: 0 0 0 77vw;
}
@media only screen and (max-width: 700px){
    img{
        height: 150px;
    }
    .billede{
        height: 20vw;
    }
    #streg1{
        margin: 0 0 0 46.5%;
        height: 150%;
    }
    #streg2{
        display: none;
    }
    #streg3{
        display: none;
    }
    #streg4{
        display: none;
    }
    #box1{
        margin: 5% auto;
        width: 50%;
    }
    #box2{
        margin: 5% auto;
        width: 50%;
    }
    #box3{
        margin: 5% auto;
        width: 50%;
    }
    #box4{
        margin: 5% auto;
        width: 50%;
    }
    }

@media only screen and (min-width: 1500px){
        body{
            background-color: red;
            }
    
        #streg1{
            margin: 0 0 0 46.5%;
            height: 100%;
        }
        #streg2{
            display: none;
        }
        #box1{
            margin: 5% auto;
            width: 50%;
        }
        #box2{
            margin: 5% auto;
            width: 50%;
        }
        }

/* moving dots on main */
$particleSize: 20vmin;
          $animationDuration: 10s;
          $amount: 15;
          .background span {
            width: $particleSize;
            height: $particleSize;
            border-radius: $particleSize;
            backface-visibility: hidden;
            position: absolute;
            animation-name: move;
            animation-duration: $animationDuration;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            $colors: (
              #5216F2,
              #1E1FDB,
              #1650F2
            );
            @for $i from 1 through $amount {
              &:nth-child(#{$i}) {
                color: nth($colors, random(length($colors)));
                top: random(100) * 1%;
                left: random(100) * 1%;
                animation-duration: (random($animationDuration * 10) / 10) * 1s + 10s;
                animation-delay: random(($animationDuration + 10s) * 10) / 10 * -1s;
                transform-origin: (random(50) - 25) * 1vw (random(50) - 25) * 1vh;
                $blurRadius: (random() + 0.5) * $particleSize * 0.5;
                $x: if(random() > 0.5, -1, 1);
                box-shadow: ($particleSize * 2 * $x) 0 $blurRadius currentColor;
              }
            }
        }
          
          @keyframes move {
            100% {
              transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}