* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: #ececec;
}

.overskrift {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  font-size: 4vw;
  margin: 0 0 0 4%;
  padding: 50px 0 0 0;
  position: relative;
  z-index: 1;
}

.overskrift2 {
  color: white;
  font-size: 4vw;
  margin: -10.5vw 0 2vw 20vw;
  padding: 0 0 0 0;
  position: relative;
  z-index: 1;
}

.overskrift3 {
  color: white;
  font-size: 4vw;
  margin: -7vw 0 2vw 20vw;
  padding: 0 0 0 0;
  position: relative;
  z-index: 1;
}

.logotop {
  margin: 2vw 0 0 1vw;
  height: auto;
  width: 15vw;
}

.logotop2 {
  margin: 5vw 0 0 1vw;
  height: auto;
  width: 15vw;
}

#portraet {
  display: block;
  margin: -35vw auto 0;
  width: 41%;
  height: auto;
  z-index: 0;
}

#bg-skift {
  background-color: black;
  border-radius: 25px;
  height: 100%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.linkp {
  position: absolute;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  margin: 1vw 0 0 86vw;
  font-size: 1.5vw;
}

.link {
  display: block;
  color: white;
  text-decoration: none;
  position: relative;
}

.link::after {
  content: "";
  background: white;
  mix-blend-mode: exclusion;
  width: calc(100% + 20px);
  border-radius: 25px;
  height: 0;
  position: absolute;
  bottom: -4px;
  left: -10px;
  -webkit-transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.link:hover::after {
  height: calc(100% + 8px);
}

h3 {
  display: none;
}

.h2main {
  position: absolute;
  color: white;
  font-size: 2vw;
  margin: 0 0 0 4%;
  padding: 40px 0 0 0;
  z-index: 1;
}

.h2rn {
  position: relative;
  color: white;
  font-size: 2vw;
  margin: -8vw 0 5vw 20vw;
  padding: 8vw 0 0 0;
  z-index: 1;
}

img {
  height: auto;
  width: 200px;
}

#billedeo {
  height: auto;
  width: 200px;
}

.billede {
  height: 10vw;
  width: auto;
}

a {
  text-decoration: none;
}

#streg1 {
  background-color: black;
  width: 1.953125vw;
  position: absolute;
  z-index: 0;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 127px;
  margin: 0 0 0 60.5%;
}

#box1 {
  background-color: black;
  height: 15.625vw;
  width: 23.4375vw;
  border-radius: 1.953125vw;
  z-index: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10% 0 0 50%;
}

#box1:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#box1:hover h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#box1:hover a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#box1:hover .billede {
  width: 10vw;
}

#box1:hover img {
  width: 10vw;
}

#box1:hover #billedeo {
  height: 140px;
  width: auto;
}

#streg2 {
  background-color: black;
  width: 1.953125vw;
  position: absolute;
  z-index: 0;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 360px;
  margin: 0 0 0 12%;
}

#box2 {
  background-color: black;
  height: 15.625vw;
  width: 23.4375vw;
  border-radius: 1.953125vw;
  z-index: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 2.5% 0 0 1%;
}

#box2:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#box2:hover h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#box2:hover a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#box2:hover .billede {
  width: 10vw;
}

#box2:hover img {
  width: 10vw;
}

#box2:hover #billedeo {
  height: 140px;
  width: auto;
}

#streg3 {
  background-color: black;
  width: 1.953125vw;
  position: absolute;
  z-index: 0;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 451px;
  margin: 0 0 0 81.5%;
}

#box3 {
  background-color: black;
  height: 15.625vw;
  width: 23.4375vw;
  border-radius: 1.953125vw;
  z-index: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: -8.5% 0 0 71.5%;
}

#box3:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#box3:hover h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#box3:hover a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#box3:hover .billede {
  width: 10vw;
}

#box3:hover img {
  width: 10vw;
}

#box3:hover #billedeo {
  height: 140px;
  width: auto;
}

#streg4 {
  background-color: black;
  width: 1.953125vw;
  position: absolute;
  z-index: 0;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 50vw;
  margin: 0 0 0 41.5%;
}

#box4 {
  background-color: black;
  height: 15.625vw;
  width: 23.4375vw;
  border-radius: 1.953125vw;
  z-index: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: -8.5% 0 0 31.5%;
}

#box4:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#box4:hover h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#box4:hover a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#box4:hover .billede {
  width: 10vw;
}

#box4:hover img {
  width: 10vw;
}

#box4:hover #billedeo {
  height: 140px;
  width: auto;
}

.bg {
  background-color: black;
  border-radius: 25px;
  height: 31vw;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#navn {
  margin: 30vw 0 0 75vw;
}

.billedern {
  border-radius: 1.953125vw;
}

#boxrn1 {
  background-color: black;
  height: auto;
  padding: 0.5vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 1.953125vw;
  z-index: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 7vw 0 0 7vw;
}

#stregrn1 {
  background-color: black;
  width: 1.953125vw;
  position: absolute;
  z-index: 0;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 7vw;
  margin: 0 0 0 14.5vw;
}

#boxrn2 {
  background-color: black;
  height: auto;
  padding: 0.5vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 1.953125vw;
  z-index: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: -30vw 0 0 29.5vw;
}

#stregrn2 {
  background-color: black;
  width: 1.953125vw;
  position: absolute;
  z-index: 0;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 13vw;
  margin: 0 0 0 37vw;
}

#boxrn3 {
  background-color: black;
  height: auto;
  padding: 0.5vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 1.953125vw;
  z-index: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: -30vw 0 0 52vw;
}

#stregrn3 {
  background-color: black;
  width: 1.953125vw;
  position: absolute;
  z-index: 0;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 18vw;
  margin: 0 0 0 59.5vw;
}

#boxrn4 {
  background-color: black;
  height: auto;
  padding: 0.5vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 1.953125vw;
  z-index: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: -30vw 0 0 74.5vw;
}

#stregrn4 {
  background-color: black;
  width: 1.953125vw;
  position: absolute;
  z-index: 0;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 23vw;
  margin: 0 0 0 82vw;
}

.broedtekst {
  color: white;
  margin: 0 0 0 20vw;
  line-height: 2;
  font-size: 1vw;
}

#boxos1 {
  background-color: black;
  height: auto;
  padding: 0.5vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 1.953125vw;
  z-index: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 7vw 0 0 7vw;
}

#stregos1 {
  background-color: black;
  width: 1.953125vw;
  position: absolute;
  z-index: 0;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 115vw;
  margin: 0 0 0 25vw;
}

.billedeos {
  border-radius: 1.953125vw;
  width: 48vw;
}

#boxos2 {
  background-color: black;
  height: auto;
  padding: 0.5vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 1.953125vw;
  z-index: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 3vw 0 0 42vw;
}

#boxos3 {
  background-color: black;
  height: auto;
  padding: 0.5vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 1.953125vw;
  z-index: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 3vw 0 0 7vw;
}

#stregos2 {
  background-color: black;
  width: 1.953125vw;
  position: absolute;
  z-index: 0;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 88vw;
  margin: 0 0 0 75vw;
}

#boxos4 {
  background-color: black;
  height: auto;
  padding: 0.5vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 1.953125vw;
  z-index: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 3vw 0 0 42vw;
}

#boxos5 {
  background-color: black;
  height: auto;
  padding: 0.5vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 1.953125vw;
  z-index: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 3vw 0 0 7vw;
}

#streghoc1 {
  background-color: black;
  width: 1.953125vw;
  position: absolute;
  z-index: 0;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 57vw;
  margin: 0 0 0 25vw;
}

#stregek1 {
  background-color: black;
  width: 1.953125vw;
  position: absolute;
  z-index: 0;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 69vw;
  margin: 0 0 0 25vw;
}

#stregek2 {
  background-color: black;
  width: 1.953125vw;
  position: absolute;
  z-index: 0;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 100vw;
  margin: 0 0 0 75vw;
}

@media only screen and (max-width: 700px) {
  img {
    height: 150px;
  }
  .billede {
    height: 20vw;
  }
  #streg1 {
    margin: 0 0 0 46.5%;
    height: 150%;
  }
  #streg2 {
    display: none;
  }
  #streg3 {
    display: none;
  }
  #streg4 {
    display: none;
  }
  #box1 {
    margin: 5% auto;
    width: 50%;
  }
  #box2 {
    margin: 5% auto;
    width: 50%;
  }
  #box3 {
    margin: 5% auto;
    width: 50%;
  }
  #box4 {
    margin: 5% auto;
    width: 50%;
  }
}

@media only screen and (min-width: 1500px) {
  body {
    background-color: red;
  }
  #streg1 {
    margin: 0 0 0 46.5%;
    height: 100%;
  }
  #streg2 {
    display: none;
  }
  #box1 {
    margin: 5% auto;
    width: 50%;
  }
  #box2 {
    margin: 5% auto;
    width: 50%;
  }
}

/* moving dots on main */
.background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.background span:nth-child(1) {
  color: #5216F2;
  top: 39%;
  left: 41%;
  -webkit-animation-duration: 18.4s;
          animation-duration: 18.4s;
  -webkit-animation-delay: -13.7s;
          animation-delay: -13.7s;
  -webkit-transform-origin: -13vw 17vh;
          transform-origin: -13vw 17vh;
  -webkit-box-shadow: -40vmin 0 8.98755vmin currentColor;
          box-shadow: -40vmin 0 8.98755vmin currentColor;
}

.background span:nth-child(2) {
  color: #1650F2;
  top: 13%;
  left: 21%;
  -webkit-animation-duration: 16.9s;
          animation-duration: 16.9s;
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
  -webkit-transform-origin: -16vw 15vh;
          transform-origin: -16vw 15vh;
  -webkit-box-shadow: -40vmin 0 10.48181vmin currentColor;
          box-shadow: -40vmin 0 10.48181vmin currentColor;
}

.background span:nth-child(3) {
  color: #1650F2;
  top: 38%;
  left: 58%;
  -webkit-animation-duration: 10.7s;
          animation-duration: 10.7s;
  -webkit-animation-delay: -3.4s;
          animation-delay: -3.4s;
  -webkit-transform-origin: 8vw 4vh;
          transform-origin: 8vw 4vh;
  -webkit-box-shadow: 40vmin 0 10.09302vmin currentColor;
          box-shadow: 40vmin 0 10.09302vmin currentColor;
}

.background span:nth-child(4) {
  color: #5216F2;
  top: 66%;
  left: 87%;
  -webkit-animation-duration: 19.8s;
          animation-duration: 19.8s;
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
  -webkit-transform-origin: 11vw 4vh;
          transform-origin: 11vw 4vh;
  -webkit-box-shadow: 40vmin 0 5.96436vmin currentColor;
          box-shadow: 40vmin 0 5.96436vmin currentColor;
}

.background span:nth-child(5) {
  color: #1650F2;
  top: 13%;
  left: 89%;
  -webkit-animation-duration: 10.5s;
          animation-duration: 10.5s;
  -webkit-animation-delay: -11.2s;
          animation-delay: -11.2s;
  -webkit-transform-origin: -22vw 10vh;
          transform-origin: -22vw 10vh;
  -webkit-box-shadow: 40vmin 0 9.32396vmin currentColor;
          box-shadow: 40vmin 0 9.32396vmin currentColor;
}

.background span:nth-child(6) {
  color: #1650F2;
  top: 40%;
  left: 72%;
  -webkit-animation-duration: 13.5s;
          animation-duration: 13.5s;
  -webkit-animation-delay: -7.8s;
          animation-delay: -7.8s;
  -webkit-transform-origin: -9vw 14vh;
          transform-origin: -9vw 14vh;
  -webkit-box-shadow: -40vmin 0 5.90203vmin currentColor;
          box-shadow: -40vmin 0 5.90203vmin currentColor;
}

.background span:nth-child(7) {
  color: #1E1FDB;
  top: 92%;
  left: 84%;
  -webkit-animation-duration: 11.2s;
          animation-duration: 11.2s;
  -webkit-animation-delay: -8.3s;
          animation-delay: -8.3s;
  -webkit-transform-origin: 13vw -4vh;
          transform-origin: 13vw -4vh;
  -webkit-box-shadow: 40vmin 0 12.18396vmin currentColor;
          box-shadow: 40vmin 0 12.18396vmin currentColor;
}

.background span:nth-child(8) {
  color: #1E1FDB;
  top: 74%;
  left: 39%;
  -webkit-animation-duration: 10.8s;
          animation-duration: 10.8s;
  -webkit-animation-delay: -16.9s;
          animation-delay: -16.9s;
  -webkit-transform-origin: -3vw -7vh;
          transform-origin: -3vw -7vh;
  -webkit-box-shadow: 40vmin 0 7.97736vmin currentColor;
          box-shadow: 40vmin 0 7.97736vmin currentColor;
}

.background span:nth-child(9) {
  color: #5216F2;
  top: 99%;
  left: 62%;
  -webkit-animation-duration: 19.6s;
          animation-duration: 19.6s;
  -webkit-animation-delay: -2.1s;
          animation-delay: -2.1s;
  -webkit-transform-origin: -16vw -8vh;
          transform-origin: -16vw -8vh;
  -webkit-box-shadow: -40vmin 0 10.16851vmin currentColor;
          box-shadow: -40vmin 0 10.16851vmin currentColor;
}

.background span:nth-child(10) {
  color: #1650F2;
  top: 57%;
  left: 33%;
  -webkit-animation-duration: 19.2s;
          animation-duration: 19.2s;
  -webkit-animation-delay: -2.5s;
          animation-delay: -2.5s;
  -webkit-transform-origin: 19vw 16vh;
          transform-origin: 19vw 16vh;
  -webkit-box-shadow: -40vmin 0 10.63227vmin currentColor;
          box-shadow: -40vmin 0 10.63227vmin currentColor;
}

.background span:nth-child(11) {
  color: #1E1FDB;
  top: 15%;
  left: 24%;
  -webkit-animation-duration: 15.3s;
          animation-duration: 15.3s;
  -webkit-animation-delay: -11.7s;
          animation-delay: -11.7s;
  -webkit-transform-origin: -6vw 6vh;
          transform-origin: -6vw 6vh;
  -webkit-box-shadow: -40vmin 0 8.9469vmin currentColor;
          box-shadow: -40vmin 0 8.9469vmin currentColor;
}

.background span:nth-child(12) {
  color: #1650F2;
  top: 61%;
  left: 93%;
  -webkit-animation-duration: 18.2s;
          animation-duration: 18.2s;
  -webkit-animation-delay: -13.2s;
          animation-delay: -13.2s;
  -webkit-transform-origin: 13vw -17vh;
          transform-origin: 13vw -17vh;
  -webkit-box-shadow: 40vmin 0 14.91787vmin currentColor;
          box-shadow: 40vmin 0 14.91787vmin currentColor;
}

.background span:nth-child(13) {
  color: #1E1FDB;
  top: 28%;
  left: 65%;
  -webkit-animation-duration: 19.5s;
          animation-duration: 19.5s;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  -webkit-transform-origin: 7vw 1vh;
          transform-origin: 7vw 1vh;
  -webkit-box-shadow: -40vmin 0 6.24626vmin currentColor;
          box-shadow: -40vmin 0 6.24626vmin currentColor;
}

.background span:nth-child(14) {
  color: #1E1FDB;
  top: 45%;
  left: 13%;
  -webkit-animation-duration: 10.9s;
          animation-duration: 10.9s;
  -webkit-animation-delay: -12.6s;
          animation-delay: -12.6s;
  -webkit-transform-origin: 25vw -12vh;
          transform-origin: 25vw -12vh;
  -webkit-box-shadow: -40vmin 0 9.17599vmin currentColor;
          box-shadow: -40vmin 0 9.17599vmin currentColor;
}

.background span:nth-child(15) {
  color: #1E1FDB;
  top: 73%;
  left: 24%;
  -webkit-animation-duration: 17.9s;
          animation-duration: 17.9s;
  -webkit-animation-delay: -15s;
          animation-delay: -15s;
  -webkit-transform-origin: 19vw -1vh;
          transform-origin: 19vw -1vh;
  -webkit-box-shadow: -40vmin 0 7.72175vmin currentColor;
          box-shadow: -40vmin 0 7.72175vmin currentColor;
}

@-webkit-keyframes move {
  100% {
    -webkit-transform: translate3d(0, 0, 1px) rotate(360deg);
            transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

@keyframes move {
  100% {
    -webkit-transform: translate3d(0, 0, 1px) rotate(360deg);
            transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */