*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: black;
}

#overskrift{
    color: white;
    display: flex;
    justify-content: start;
    font-size: 50px;
    margin: 50px 0 0 50px;
}

#portraet{
    display: block;
    margin: -40px auto 0;
    width: 45%;
}